/*.animate-slide {
  animation: 0.5s slideInLeft;
}

.animate-slide.ng-hide {
  animation: 0.5s slideOutLeft;
}
*/

/*for ui.bootstrap*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/*for ng-cloak*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
	overflow-x: hidden;
}

body {
	font-family: 'Muli', sans-serif;
	background-color: white;
}

.grey-back {
	background-color: #f9f9f9;
}
form {
	background-color: white;
}
.splash-jumbotron {
  padding-left:100px;
  min-height: 600px;
	background-image: url('http://i.imgur.com/ivTI4Z1.png');
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom-left-radius: 150em 30em;
	border-bottom-right-radius: 150em 30em;
	background-color: white;
	
}


.get-started {
	margin-top: 300px;
}

.navbar-right {
    margin-right: 0;
}

#about {
	min-height: 600px;
	margin-top: 300px;
}

#down-arrow {
	font-size: 50px;
	
}

.btn-toolbar {
  display: inline-block;
}​

a {
    cursor: pointer;
}

.navbar {
  margin:0px;
  background-color: #f9f9f9;
  border: none !important;
}

.dropdown-form {
  padding: 17px;
  width: 300px;
}

.walk-index-jumbotron {
	background-image: url('http://i.imgur.com/7KfnyKa.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 210px;
}
.calendar {
	margin-right: 10px;
	padding-top: 15px;
}

.white-font {
	color: white !important;
}
.black-back {
	background-color: black;
}

.pink-back {
	background-color: #922d2d;
}
.pink-font {
	color: #922d2d;
}

.date-top {
	width: 100px;
	height: 30px;
	font-size: 20px;
	margin-left: 0px;
	border: 1px solid black;
	
}

.date-middle {
	width: 100px;
	height: 45px;
	font-size: 30px;
	margin-left: 0px;
	font-weight: bolder;
	border: 1px solid black;
}

.date-bottom {
	padding-bottom: 2px;
	height: 25px;
	width: 100px;
	font-size: 15px;
	margin: 0px;
	border: 1px solid black;
}

a.walk-index-btn {
	margin: 100px 0px 50px 0px;
	background-color: #922d2d;
}

.panel {
	margin-bottom: 0px;
}

.new-walk-form {
	box-shadow: 1px 1px 1px black;
	border: 1px solid black;
	padding: 30px;
	margin: 50px auto;
}


.media-body {
	padding: 10px;
}

.card-img-top {
	width: 100px;

}
.card {
	margin-top: 20px;
	word-wrap: break-word;
}

.input-form input.ng-invalid.ng-touched {
    background-color: #FA787E;
  }

  .input-form input.ng-valid.ng-touched {
    background-color: #78FA89;
  }

.walk-media {
	cursor: pointer; 
}

#date-input {
	max-width: 200px;
	padding-left: 20px;
	margin-top: 57px;
}

.rsvp-pic {
	max-width: 100px;
}

.btn {
	background-color: #CC5A5A;
	color: white;	
}

.btn:hover {
	background-color: #ba3939;	
	color: white;
}


.btn-facebook {
	background-color: #3B5998;
	color: white;
}
.btn-facebook:hover {
	background-color: #2d4373 !important;
	color: white;
}

.fb-share-div {
	display: inline-block;
}
.fb-share-button {
	transform: scale(2.5);
  -ms-transform: scale(2.5);
  -webkit-transform: scale(2.5);
  -o-transform: scale(2.5);
  -moz-transform: scale(2.5);
  display:inline-block;
}

.modal-body {
	margin: 30px;
}

.input-group .btn {
	background-color: white;
	color: grey;
}

.lime-green {
	color: #00FF00 !important;
}

.pink-text {
	color: #CC5A5A;
}

.grey-text {
	color: #6C6C6C;
}

.angular-google-map-container { 
	height: 400px; 
}
#google-map { 
	height: 400px;
	background-color: black; 
}


.footer {
	min-height: 100px;
	background-color: grey;
	color: white;
}

.bottom {
	margin-top: 80px;
}

.profile-btn {
  color: black;
  text-decoration: none; /* no underline */
  background-color: white;

}
.profile-btn:hover {
  color: white;
  text-decoration: none; /* no underline */
  background-color: gray;
  
}

.no-border {
	border: none;
}

/*ipad*/
@media (max-width: 768px) {
	h1.card-text {
		font-size: 40px;
	}
	h4.card-text {
		font-size: 20px;
	}
	.card-block h4 {
		font-size: 20px;
	}
	#about {
		margin-top: 300px;
	}
}

@media (max-width: 500px) {
	.fb-share-button {
		padding-right: 10px;
	}
}

/*iphone 6 plus*/
@media (max-width: 415px) {
	.splash-jumbotron {
		min-height: 500px;
	}
	h5.bottom {
		font-size: 15px;
	}
	.media-body h5 {
		font-size: 15px;
	}
	.media-body h4 {
		font-size: 18px;
	}
	a.walk-index-btn {
		margin: 10px 0px 5px 0px;
	}
	.walk-index-page h3 {
		font-size: 18px;
		margin: 15px 0px 5px 0px;
	}
}

/*iphone 6*/
@media (max-width: 375px) {
	.splash-jumbotron {
		min-height: 400px;
	}
	.footer {
		min-height: 50px;
	}

	.bottom {
		margin-top: 0px;
	}
	.media-body h4 {
		font-size: 17px;
	}
	.media-body h5 {
		font-size: 13px;
	}
}

/*iphone 5*/

}
