<!-- <pre>Selected time and date is: <em>{{date | date:'shortTime' }}, {{date | date:'fullDate' }}</em></pre>

      <datetimepicker min-date='{{minDate}}' hour-step="hourStep" 
      minute-step="minuteStep" ng-model="walk.date" show-meridian="showMeridian" 
      date-format="dd-MMM-yyyy" date-options="dateOptions"
      date-disabled="disabled(date, mode)" 
      readonly-date="false"
      hidden-time="false"
      hidden-date="false" 
      show-spinners="true"
      readonly-time="false"></datetimepicker>
 -->

      <pre>Selected time and date is: <em>{{date | date:'shortTime' }}, {{date | date:'fullDate' }}</em></pre>

      <datetimepicker min-date="minDate" hour-step="hourStep" 
      minute-step="minuteStep" ng-model="date" show-meridian="showMeridian" 
      date-format="dd-MMM-yyyy" date-options="dateOptions"
      date-disabled="disabled(date, mode)" 
      readonly-date="false"
      hidden-time="false"
      hidden-date="false" 
      show-spinners="true"
      readonly-time="false"></datetimepicker>