
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top img-circle center-block" src="{{user.picture}}" alt="">
        <div class="card-block">
          <h4 class="card-title text-center">{{user.displayName}}</h4>
          <p class="card-text"></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a href="/createwalk">Lead a Walk!</a></li>
          <li class="list-group-item"><a href="/walks">Find a Walk!</a></li>
        </ul>
        <div class="card-block">
          
        </div>
      </div>
    </div>
    <div class="col-sm-8 col-sm-offset-1">
      <h3 class="text-center">My Walks</h3><br>
      <ul class='media-list'>
        <li ng-click="walkShow(walk)" ng-repeat="walk in myWalks | orderBy:'date'" class='media walk-media'>
          <div class="media-left calendar">
            
              <div class="row date-top text-center white-font black-back">
              {{walk.date | date: 'MMM'}}
              </div>
              <div class="row date-middle text-center">
              {{walk.date | date: 'd'}}
              </div>
              <div class="row date-bottom text-center white-font black-back">
              {{walk.date | date: 'EEEE'}}
              </div>
            
          </div>
          <div class="media-body">
          <button class="card-link btn pull-right">Leading</button>
              <h4 class="media-heading">{{walk.name}}<br><small>{{walk.date | date: 'MMMM d' }} at {{walk.date | date: 'h:mm a'}}</small></h4>
                <h5>{{walk.distance}} mi.<br>
                {{walk.location.formatted_address}}</h5>
          </div>
          <hr>
        </li>
        <li ng-click="walkShow(walk)" ng-repeat="walk in rsvpWalks | orderBy:'date'" class='media walk-media'>
          <div class="media-left calendar">
            
              <div class="row date-top text-center white-font black-back">
              {{walk.date | date: 'MMM'}}
              </div>
              <div class="row date-middle text-center">
              {{walk.date | date: 'd'}}
              </div>
              <div class="row date-bottom text-center white-font black-back">
              {{walk.date | date: 'EEEE'}}
              </div>
            
          </div>
          <div class="media-body">
          <button class="card-link btn pull-right">Attending</button>
              <h4 class="media-heading">{{walk.name}}<br><small>{{walk.date | date: 'MMMM d' }} at {{walk.date | date: 'h:mm a'}}</small></h4>
                <h5>{{walk.distance}} mi.<br>
                {{walk.location.formatted_address}}</h5>
          </div>
          <hr>
        </li>
      </ul>
    </div>
  </div>
  
</div>